@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ### Primary */
    --color-main-color: hsl(148, 38%, 91%); /* Green 200 (lighter) */
    --color-secondary-color: hsl(69, 82%, 27%); /* Green 600 (medium) */
    --color-third-color: hsl(0, 66%, 54%); /* Red */ 

    /* ### Neutral */
    --color-fourth-color: hsl(0, 0%, 100%); /* White */ 
    --color-fith-color: hsl(186, 15%, 59%); /* Grey 500 (medium) */
    --color-sixth-color: hsl(187, 24%, 22%); /* Grey 900 (darker) */

    /* ## Typography */
    --font-family-main: "Karla", sans-serif; /* Font family */
    --font-size-base: 16px; /* Base font size */
    --font-optical-sizing: auto; /* Normal font weight */
    --font-weight-normal: 400; /* Normal font weight */
    --font-weight-bold: 700;  /* Bold font weight */
    --font-style: normal; /* Standard font style */

    /* ### Spacing */
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    
    /* ### Others */
    --border-radius: 10px;
}

/* BODY */

body {
    background: var(--color-main-color);
}

/* MAIN CONTAINER */

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: var(--color-fith-color);
}

/* CONTAINER */

.container {
    background: var(--color-fourth-color);
    width: 35rem;
    height: 35rem;
    border-radius: var(--border-radius);
}

/* CONTAINER TITLE */

.container h3 {
    font-family: var(--font-family-main);
    font-size: 25px;
    margin-top: 35px;
    margin-left: 25px;
    color: var(--color-sixth-color);
}

/* FNAME AND LNAME SECTION */

.form-contact form {
    margin-top: 25px; 
    height: 40rem;
}

.form-contact .f-name-l-name {
    display: flex;
    flex-direction: row;
}

.f-name-l-name .l-name {
    margin-left: .1rem; /* left sapce of last name input */
}

.f-name-l-name 
.email-adress {
    display: flex;
    flex-direction: column; /* Change l'axe principal de la flexbox à vertical */
    gap: 1rem; /* Ajoute de l'espace entre les éléments */
}

.f-name {
    margin-left: 25px;
}

.f-name, .l-name {
    display: flex;
    flex-direction: column; /* Assure que les labels et les inputs sont alignés verticalement */
}

label {
    margin-bottom: 0.5rem; /* Ajoute de l'espace sous les labels */
    font-family: var(--font-family-main);
}

input {
    padding: 0.5rem;
    border: 1px solid var(--color-fith-color);
    border-radius: 4px;
    width: 15rem;
    margin-bottom: 1.2rem;
}

/* EMAIL ADDRESS - SECTION */

.email-adress {
    margin-left: 25px;
}

.email-adress input {
    width: 31rem; 
}

/* QUERY TYPE SECTION */

.query-type {
    display: flex; 
    flex-direction: row;
}

.enquery {
    margin-left: 25px;
    display: flex;
    flex-direction: column; /* Change l'axe principal de la flexbox à vertical */
    gap: .1rem; /* Ajoute de l'espace entre les éléments */
} 

.request {
    margin-left: 25px; 
    display: flex;
    flex-direction: column; /* Change l'axe principal de la flexbox à vertical */
    gap: .1rem; /* Ajoute de l'espace entre les éléments */
}

/* rend l'element transparent */

.transparent-label {
    opacity: 0;
}

/* TEXTEAREA SECTION */

.message {
    display: flex;
    flex-direction: column; /* Change l'axe principal de la flexbox à vertical */
    gap: .1rem; /* Ajoute de l'espace entre les éléments */
}

.message label {
    margin-left: 25px;
}

.message textarea {
    width: 31rem;
    height: 6rem;
    padding: .5rem;
    margin-left: 25px;
    border-radius: 10px;
    border: 1px solid var(--color-fith-color);
}

.custom-checkbox input {
    border: 1px solid var(--color-fith-color);
}

/* BUTTON SECTION */
.button {
    margin-top: 1rem;
}

.button button {
    width: 31rem;
    height: 2.5em;
    margin-left: 25px;
    background: var(--color-secondary-color);
    color: var(--color-fourth-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}